
<div class="content-section-b">
   <div class="row">
	    <div class="col-xs-6 col-md-4">
	       <%= form_for @photo, :url => photo_create_path, :html => { :multipart => true } do |f| %>
			   <h2>Select photo</h2>
			 	    <%= f.file_field  :avatar,:multiple => true %><br/>
		         <div class="form-group">
			  <div class="col-sm-offset-2 col-sm-10">
            <%=f.submit "submit",:class=>"btn btn-default"%>
          </div>
         </div>
       <% end %>
    </div>
  </div>	  
</div>



  